<!doctype html>
<html>
  <head>
    <title>{% block title %}{% endblock %} - TypeShrink</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: ['system-ui', '-apple-system', 'Noto Sans JP', 'sans-serif'],
            }
          }
        }
      }
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&family=Noto+Serif+JP:wght@400;700;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='apple-icon.png')}}">
    <!-- Twitter OGP -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@typeshrink">
    <meta name="twitter:creator" content="@typeshrink">
    <meta name="twitter:title" content="TypeShrink">
    <meta name="twitter:description" content="TypeShrinkで重たい日本語WEBフォントも軽量化!">
    <meta name="twitter:image" content="https://typeshr.ink{{url_for('static', filename='ogp.png')}}">
    <!-- Facebook OGP -->
    <meta property="og:title" content="TypeShrink">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://typeshr.ink/">
  </head>
  <body>
    <div class="py-10 px-4 sm:px-8 md:px-10 lg:px-20 flex flex-flow justify-between items-center border-b-2 bg-white w-full fixed z-50">
      <h1 class="text-xl select-none">
        <a href="{{url_for('index')}}">
          <img src="{{url_for('static', filename='logo.svg')}}" width="170">
        </a>
      </h1>
      {% if current_user.is_authenticated %}
      <div>
        <a href="{{url_for('postfont')}}" class="border-2 border-yellow-600 hover:border-yellow-700 bg-yellow-600 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded hidden md:inline">フォント投稿</a>
        <a href="{{url_for('logout')}}" class="border-2 border-yellow-600 hover:bg-gray-100 text-gray-700 py-2 px-4 rounded">ログアウト</a>
      </div>
      {% else %}
      <div>
        <a href="{{url_for('signup')}}" class="border-2 border-yellow-600 hover:border-yellow-700 bg-yellow-600 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded hidden md:inline">アカウント作成</a>
        <a href="{{url_for('login')}}" class="border-2 border-yellow-600 hover:bg-gray-100 text-gray-700 py-2 px-4 rounded">ログイン</a>
      </div>
      {% endif %}
    </div>
    <div class="py-10 px-4 sm:px-8 md:px-10 lg:px-20 flex flex-flow justify-between items-center border-b-2 select-none opacity-0">
      <h1 class="text-xl">
        <a href="{{url_for('index')}}">
          <img src="{{url_for('static', filename='logo.svg')}}" width="170">
        </a>
      </h1>
    </div>
    <section class="content">
      {% block content %}{% endblock %}
    </section>
    <div class="footer bg-gray-100 p-20">
      <div class="flex flex-col">
        <a href="{{url_for('index')}}">
          <img src="{{url_for('static', filename='logo.svg')}}" width="170">
        </a>
        <div class="py-5 flex flex-col">
          <a href="{{url_for('index')}}" class="flex">ホーム</a>
          <a href="{{url_for('login')}}" class="flex">ログイン</a>
          <a href="//mizphses.com" class="flex">開発者ホームページ</a>
        </div>
      </div>
      <p>©2023 mizphses All rights reserved. 書体はデザイナのライセンスに準拠します。</p>
    </div>
</body>
</html>