<!DOCTYPE html>
<html>
  <body>
    <h1>TypeShrinkからのお知らせ</h1>
    <p>こんにちは、{{username}}さん。TypeShrinkです。</p>
    <p>もしご登録が身に覚えのない場合，以下のメールアドレスにご連絡ください。</p>
    <p>fuminori@mizphses.com（サポート担当者）</p>
    <p>サービスはこちらからご利用いただけます → https://typeshr.ink</p>
    <p>良いフォントライフをお楽しみください！</p>
    <p>Welcome to the typeshrink! Your login ID is {{username}}.</p>
    <p>If you don't remember your registration, please contact the following email address: fuminori@mizphses.com</p>
    <p>You can use the service from here → https://typeshr.ink</p>
    <p>Enjoy your font life!</p>
    <p>===</p>
    <p>  このメールアドレスは送信専用です。お問い合わせは上記サポート担当者のメールアドレスまでお願いいたします。</p>
    <p>  THIS IS AN AUTOMATED MESSAGE. PLEASE DO NOT REPLY TO THIS EMAIL.</p>
    <p>===</p>
  </body>
</html>