{% extends 'base.html' %}

{% block content %}
<div class="p-2">
  {% if error %}
  <div class="p-4 bg-red-100">
    {{ error }}
  </div>
  {% endif %}
  <h2 class="text-xl font-bold">フォントの配信設定</h2>
  <div class="grid grid-cols-2">
    <div>
      <p>フォントの内部的名称（変更できません）: {{ filename }}</p>
      <p>文字セット（当社システムによる予測）: {{ charset['name'] }}</p>
    </div>
    <div>
      {{list_of_chars}}
    </div>
    {% if show_render_button and show_download_button %}
      <form action="/fonts/{{filename}}/write" method="post">
        <input type="text" name="font_name" placeholder="フォントの名称" class="border-2 rounded px-2 py-1">
        <input type="number" name="font_weight" placeholder="フォントのウェイト" class="border-2 rounded px-2 py-1">
        <input type="submit" value="フォントを分割済みWoffファイルに変換する作業を始めます" class="bg-blue-300 hover:bg-blue-400 rounded border-2 px-2 py-1">
      </form>
      {% else %}
    {% if show_download_button %}
      <a href="/fonts/{{filename}}/download" class="bg-blue-300 hover:bg-blue-400 rounded border-2 px-2 py-1">サブセットをダウンロードする</a>
    {% else %}
      <p>書き込み中...</p>
    {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
